<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Quora Clone</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" type="text/css" href="css/application.css">
</head>
<body>

  <h1>Quora Clone</h1>
  

  <h2>Sign up for an account!</h2>
  <h2>Please sign up or log into your account</h2>
  <a href="/signup">Sign Up</a>
  <a href="/login">Log In</a>

</body>
</html>
