<h2>Log into the account!</h2>
<form method="post" action="/login">
    <input type=text placeholder="Email" name="email"><br>
    <input type=password placeholder="Password" name="password"></br>
    <input type=submit value="Log in">
</form>

<h1> LOGIN</h1>
